*{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    align-items: center;
    display: inline-block;
    
}

.container{
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.aramacubugu{
    border: solid 1px rgb(232, 240, 247);
    display: flex;
    border-radius: 12px;
    width: 550px;
    height: 40px;
    margin-top: 40px;
}

.aramacubugu:hover{
    border: solid 1px rgb(110, 107, 107);
}


.aramacubugu input[type="search"]{
    border: none;
    width: 550px;
    height: 40px;
}

.aramacubugu i{
    margin: auto;
    color: grey;
}

.aramacubugu a{
    margin: auto;
    color: grey;
}

.butunsimgeler{
    margin-top: 40px;
}

.simgeler,
.simgeler2{
    display: flex;

}

.simge{
    width: 100px;
    height: 120px;
    
}
.simge:hover{
    background-color: rgb(243, 234, 234);
    border-radius: 10px;
}

.butunsimgeler .simge a{
    display: inline-block;
    margin-top: 25px;
}

.butunsimgeler .simge a i{
    align-items: center;
    border-radius: 30px;
    border: 1px solid black;
    background-color: black;
    padding: 15px;
    color: orange;
}

.butunsimgeler .simge a p{
    margin-top: 20px;
    color: black;
}